//overflow = {
//  hidden: h,
//  auto: a
//}
//
//vertical = {
//  top: t,
//  middle: m
//}

$oh
  overflow hidden
$oa
  overflow auto
$vt
  vertical-align top
$vm
  vertical-align middle
$relative
  position relative
$dib
  display inline-block

$two-line
  display -webkit-box
  -webkit-line-clamp 2
  -webkit-box-orient vertical

$center
  top 50%
  left 50%
  transform translate(-50%, -50%)

$border
  content ''
  position absolute
  top 0
  left 0
  width 200%
  height 200%
  -webkit-transform-origin 0 0
  transform-origin 0 0
  -webkit-transform scale(0.5, 0.5)
  transform scale(0.5, 0.5)
  pointer-events none
  z-index 1
